
.vs/LessonOneSetup/v16/.suo
.vs/LessonOneSetup/v16/Browse.VC.db
.vs/LessonOneSetup/v16/Browse.VC.db-shm
.vs/LessonOneSetup/v16/Browse.VC.db-wal
.vs/LessonOneSetup/v16/Browse.VC.opendb
.vs/LessonOneSetup/v16/ipch/AutoPCH/21297aaf71ae2680/LESSONONESETUP.ipch
.vs/LessonOneSetup/v16/ipch/AutoPCH/9a4db77cf50d2f2b/LESSONONESETUP.ipch
